name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
env:
  NODEJS_VERSION: '20'
jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: ${{env.NODEJS_VERSION}}

      - uses: c-hive/gha-yarn-cache@v1 # Restore the yarn cache.

      - name: Yarn install
        run: yarn install

      - name: Formatter
        run: yarn format

      - name: Linter
        run: yarn lint

      - name: Compile
        run: yarn compile

      - name: Test
        run: yarn test

      - name: Coverage
        run: yarn test:coverage

      - name: Formatting
        run: yarn format:check
